################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestAvaloniaSunbox/obj
/.vs
/TestAvaloniaSunbox/bin/Debug/net7.0
